<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis of Tweets</title>
    <link rel="stylesheet" href="/static/css/index.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/team">Meet The Team</a></li>
          
        </ul>
    </div>

 <div class="container">
        <h1 class="title">Tweet Sentiment Analysis</h1>
        
        <textarea id="tweet" class="input-text" placeholder="Type your tweet here..."></textarea>
        <button id="analyze-btn" class="btn" onclick="analyzeTweet()">
            Analyze
            <div id="loader" class="spinner"></div> <!-- Loading spinner -->
        </button>
        <button id="refresh-btn" class="btn refresh-btn" onclick="refreshPage()">
        <i class="fas fa-sync-alt"></i> Refresh
    </button>
        <p id="result" class="result-text">Sentiment: </p>

    </div>
    <div id="progress-container">
        <svg id="progress-circle" width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
            <!-- Background Circle (represents the empty tube) -->
            <circle class="circle-background" cx="75" cy="75" r="70"></circle>

            <!-- Progress Circle (represents the filling liquid) -->
            <circle class="circle-progress" cx="75" cy="75" r="70"></circle>
        </svg>
        <!-- Centered Percentage Text -->
        <span id="progress-text">0%</span>
    </div>
</div>

    <script src="/static/js/script.js"></script>
</body>
</html>
